.contactsList {
  @apply table-auto mt-1 ml-auto mr-auto;
  width: 95%;
  /* @apply flex flex-col gap-4 w-full ml-auto mr-auto mt-4; */
  /* list-style: none;
  max-width: 50rem;
  margin: 1rem auto;
  padding: 1rem 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 30%);
  justify-content: center; */
}

table tbody tr:first-child {
  /* FIXME: Figure out how to round the table corners. */
  @apply rounded-lg;
}

/* .header {
  @apply flex flex-row gap-4 w-full justify-center;
} */
